body {
    background-color: #282c34;
}
/* body div{
    display: flex;
    flex-direction: column;
} */
/* .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */